* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  list-style: none;
}

body {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template: 50px 1fr / 1fr;
  position: relative;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
  position: relative;
  justify-content: start;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
}

.search input {
  appearance: none;
  -webkit-appearance: none;
  padding: 6px 22px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background: none;
  flex-grow: 1;
  text-align: center;
}

.search input:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.search input:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.7);
}

.search input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.searchCancel {
  cursor: pointer;
  position: absolute;
  right: 5px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2vh;
  gap: 2vh;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.location {
  font-size: 3rem;
}

.currentTemp {
  font-size: 5rem;
}

.conditionImg img {
  height: 2rem;
}

.secondaryInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 8px;
  width: 150px;
}

.conditionDiv,
.conditionImg,
.tempRanges,
.feelsLikeDiv,
.humidityDiv,
.windDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tempRanges {
  padding: 0 8px;
}